<% unless user_signed_in? %>
  <div class="top__button">
    <%= link_to new_user_session_path, class:"btntextchange" do %>
      <p>ログイン</p>
    <% end %>
    <%= link_to new_user_registration_path, class:"btntextchange" do %>
      <p>新規登録</p>
    <% end %>
    <%= link_to users_guest_sign_in_path, method: :post, class:"btntextchange" do %>
      <p>ゲストログイン（閲覧用）</p>
    <% end %>
    <%= link_to users_guest_admin_sign_in_path, method: :post, class:"btntextchange" do %>
      <p>ゲストログイン（管理者）</p>
    <% end %>
    <br>
  </div>
<% end %>