<h1><%= t('groups.user_all') %></h1>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th>No.</th>
      <th><%= t('members.name') %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_members.each_with_index do |group_member, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to group_member.name, personal_path(id: group_member.id), class:"btn btn-outline-success" %>さんのページへ</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>