<h1 class="text-center" >日々の摂取量(朝・昼・夜・間食)</h1>

<%= month_calendar events: @meals do |date, meals| %>
  <%= date.day %>
  
  <% meals.each do |meal| %>
    <div>
      <p>摂取量：<%= link_to meal.sugar_amount, meal_path(meal.id) %>g</p>
    </div>
  <% end %>
  
<% end %>