.top {
  background-image: image-url("top.jpg");
  background-size: cover;
  color: black;
  font-size: 24px;
  height: 773px;
}
// padding-top: 150px;

.explanation {
  padding-top: 20px;
  padding-left: 50px;
  line-height: 60px;
}

.button_login {
  padding-top: 30px;
  padding-left: 100px;
}

.alert alert-primary {
  z-index: 500; //これで重なりを解消できる。
  position:fixed;
}
